<div class="col-sm-12 row" id="lightgallery">
  <div class="col-sm-2"
       data-responsive="https://homepages.cae.wisc.edu/~ece533/images/airplane.png"
       data-src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png"
       data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
  >
    <div class="card seo-card">
      <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="seo bg" class="img-fluid"
      >
      <div class="overlay-bg"></div>
      <div class="card-block seo-content">
        <p class="m-b-0">Calculated in 7 days</p>
      </div>
    </div>
  </div>
</div>





<!--<div class="col-sm-12 row" id="lightgallery">-->
<!--  <div class="col-xs-4 col-sm-3 col-md-2" data-responsive="./assets/lightGallery/demo/img/thumb-2.jpgy" data-src="./assets/lightGallery/demo/img/thumb-2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">-->
<!--    <a href="">-->
<!--      <img class="img-responsive" src="ferb-1.jpg">-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-xs-4 col-sm-3 col-md-2" data-responsive="./assets/lightGallery/demo/img/thumb-2.jpg" data-src="./assets/lightGallery/demo/img/thumb-2.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">-->
<!--    <a href="">-->
<!--      <img class="img-responsive" src="./assets/lightGallery/demo/img/thumb-2.jpg">-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-xs-4 col-sm-3 col-md-2" data-responsive="./assets/lightGallery/demo/img/thumb-4.jpg" data-src="./assets/lightGallery/demo/img/thumb-4.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">-->
<!--    <a href="">-->
<!--      <img class="img-responsive" src="./assets/lightGallery/demo/img/thumb-13.jpg">-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="col-xs-4 col-sm-3 col-md-2" data-responsive="./assets/lightGallery/demo/img/thumb-4.jpg" data-src="./assets/lightGallery/demo/img/thumb-4.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">-->
<!--    <a href="">-->
<!--      <img class="img-responsive" src="./assets/lightGallery/demo/img/thumb-4.jpg">-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->

